.navbar-brand {
    margin: 0 0 0 10%;
    font-family: "Courier New", Courier, monospace;
    font-size: xx-large;
}

.bottomBorder {
    border-bottom-style: dashed;
    border-color: lightgray;
}

h3 {
    font-size: medium;
    font-family: "Arial Black", Helvetica, sans-serif;
}

button {
    background-color: rgb(110, 172, 187);
}

footer {
    text-align: left;
    font-size: small;
}

.bottomArea {
    background-color: rgb(71, 71, 71);
}

.fa {
    padding: 2px;
    font-size: 16px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}