
  

.container{ 
    
    /* text-align: inline; */
    background-color: gray; /*(87, 23, 23) */
    /* margin: auto;
    width: auto; */
}


.col2 {
    display: inline-block;
    /* box-sizing: content-box; */
    /* float: left; */
    width: 25%;
    padding: 10px;
  }

  Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  




/* .row1 {  
    
    background-color: firebrick; 
}

.row2 {  
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 178, 77);  */







/* .col {
    text-align: center;
} */







/* .navbar-toggler {
    background-color: brown;
} */


/*navigation bar section */
/* .header {
    background-color: cadetblue;
    
} */

/* .ml-1 {
    margin-left: ($spacer * .8) !important;
}

.px-2 {
    padding-left: ($spacer * .9) !important;
} */


/* .container-fluid {
    text-align: center;

}

#navbarnav {
    margin-left: auto;
}


h1 {
    background-color: blue;
} */

/* 
<a .navbar {
    background-color: blue;
} */