/* img { 
    width: 400px; 
    height: 400px; 
    object-fit: contain;
}  */

/* .col {
    column-gap: 20px;
    background-color: tomato;
} */

button {
    background-color:gray;
    color: white;
}